.container.profile {
  display: inline-block;
}

.container.history {
  background-color: var(--light-color);
  display: inline;
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container.game-history-ticket {
  display: block;
  background-color: var(--dark-color);
  margin-bottom: 10px;
  width: 350px;
}

.win {
  color: var(--accent-color);
}
