.topnav {
  position: sticky;
  background-color: var(--dark-color);
  overflow: hidden;
  z-index: 100;
}

.topnav .battleships-link {
  float: left;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav .battleships-link:hover {
  background-color: transparent;
  color: var(--text-color);
}

.topnav a,
.topnav-button {
  float: right;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.topnav a:hover,
.topnav-button:hover {
  background-color: var(--text-color);
  color: var(--dark-color);
}
