.container-home {
  color: var(--text-color);
  padding: 10px;
  border-radius: 5px;
}

.container-home.lobby {
  background-color: var(--dark-color);
}

.container-home.game {
    margin-top: 10px;
    background-color: var(--light-color);
    max-width: 200px;
    height: fit-content;
}

/* .container-home.game > * {
    flex: 1;
  } */