.cell {
  background: var(--dark-color);
  border: 1px solid var(--text-color);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 40px;
}

.cell-miss {
  background: rgb(165, 165, 165);
}

.cell-hit {
  background: var(--error-color);
}

.cell-Destroyer {
  background: rgb(145, 205, 41);
}

.cell-Cruiser {
  background: rgb(199, 29, 117);
}

.cell-Battleship {
  background: rgb(31, 191, 200);
}

.cell-AircraftCarrier {
  background: rgb(194, 135, 25);
}
