.container {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.container.unfinished {
  background-color: #f2f2f2;
}

.container.loss {
  background-color: #f36262;
}

.container.win {
  background-color: #67f362;
}

.history-container {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  height: 90vh;
  overflow: auto;
}
